<nav class="navbar navbar-expand-lg navbar-light bg-light-carrot">

  <%= link_to_foods label: nil, css_classes: "navbar-brand" do %>
    <%= image_tag "logo.png", width: 30, height: 30, class: "d-inline-block align-top" %>
    <%= content_tag(:span, class: "pl-2") do %>
      homeFOOD
    <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if @categories.any? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="categories-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kategórie
          </a>
          <div class="dropdown-menu" aria-labelledby="categories-dropdown">
            <% @categories.each do |category| %>
              <%= link_to_foods label: category.name,
                                list: category.id,
                                css_classes: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to_foods label: "Moje jedlá",
                            list: "mine",
                            css_classes: "nav-link" %>
        </li>
      <% end %>
<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-light dark-carrot my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="profile-dropdown">
            <%= link_to "Profil", edit_users_profile_path(current_user), class: "nav-link" %>
            <%= link_to "Moje návrhy", users_proposals_path, class: "nav-link" %>
            <%= link_to "Odhlásiť", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Špajza", users_raws_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nákup", users_ownerships_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Prihlásiť sa", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

    </ul>

  </div>
</nav>
