<nav class="navbar navbar-expand-lg navbar-light bg-light-carrot">

  <%= link_to foods_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", width: 30, height: 30, class: "d-inline-block align-top" %>
    <%= content_tag(:span, class: "pl-2") do %>
      homeFOOD
    <% end %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if @categories.any? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="categories-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kategórie
          </a>
          <div class="dropdown-menu" aria-labelledby="categories-dropdown">
            <% @categories.each do |category| %>
              <%= link_to category.name,
                          foods_path(filter: { list: category.id }),
                          class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Moje jedlá",
                      foods_path(filter: { list: "mine" }),
                      class: "nav-link" %>
        </li>
      <% end %>
      <%= form_with url: foods_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do |form| %>
        <div class="input-group">
          <%= form.text_field 'filter[search]', value: params[:filter] ? params[:filter][:search] : '', class: "form-control", type: :search %>
          <div class="input-group-append">
            <%= form.button type: "submit", class: "btn btn-outline-light dark-carrot" do %>
              <%= fa_icon("search") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Špajza", raws_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nákup", ownerships_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown">
            <%= link_to "Profil", edit_profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Moje návrhy", proposals_path, class: "dropdown-item" %>
            <%= link_to "Odhlásiť", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Prihlásenie", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registrácia", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
