<%= form_with model: [:administration , @part], local: true do |f| %>
  <%= hidden_field_tag :heading, @heading %>
  <%= hidden_field_tag :food_id, @part.food.id %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item tw-underline">
        <%= link_to "Jedlá", administration_foods_path %>
      </li>
      <li class="breadcrumb-item tw-underline">
        <%= link_to @part.food.name, edit_administration_food_path(@part.food) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @heading %></li>
    </ol>
  </nav>

  <h1 class="h1 tw-text-red-500 text-center display-3 tw-py-8">
    <%= @heading %>
  </h1>

  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <%= label_with_error form: f, attr_name: :name, text: "Názov *" %>
        <%= f.text_field :name, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="form-group">
        <%= label_with_error form: f, attr_name: :description, text: "Popis" %>
        <%= f.text_area :description, class: "form-control", rows: 10 %>
      </div>
    </div>
  </div>

  <section class="actions text-center mb-2">
    <%= f.submit "Uložiť", class: "btn btn-outline-dark dark-carrot mt-4" %>
  </section>
<% end %>
