<div class="col-lg-6 tw-mb-6">
  <div class="md:tw-flex">
    <div class="md:tw-flex-shrink-0">
      <%= link_to food_path(food) do %>
        <%= image_tag food.cloud_photo_url, height: 299, class: "tw-rounded-lg md:tw-w-56" %>
      <% end %>
    </div>
    <div class="tw-mt-4 md:tw-mt-0 md:tw-ml-6">
      <div class="tw-uppercase tw-tracking-wide tw-text-sm tw-text-indigo-600 tw-font-bold">
        <%= link_to food.food_category.name, foods_path(filter: { list: food.food_category.id }) %>
      </div>
      <%= link_to food.name, food_path(food), class: "tw-block tw-mt-1 tw-text-lg tw-leading-tight tw-font-extrabold tw-text-gray-900 hover:tw-underline" %>
      <p class="tw-mt-2 tw-text-gray-600">
        <%= food_about_text(food)[0...180] %>
      </p>
    </div>
  </div>
</div>
