<div class="row">
  <% arranged_raws.each do |category, raws| %>

    <div class="col-md-6 col-lg-4 col-xl-3 py-2">
      <p class="tw-text-l text-center dark-carrot tw-border-b tw-border-yellow-800 mb-1">
        <%= category || "Všeobecné" %>
      </p>

      <div class="tw-text-yellow-800 tw-text-sm">
        <% raws.each do |raw| %>
          <% if raw.is_a? Hash %>
            <% ownership = ownerships.find { |o| o.raw_id == raw[:raw_id] } %>
            <div class="tw-pt-2">
              <label class="tw-my-0">
                <%= check_box_tag :raw, '1', ownership && !ownership.need_buy?,
                                  class: "user-raw tw-leading-tight",
                                  id: "id-#{raw[:raw_id]}",
                                  data: {
                                      raw_id: raw[:raw_id]
                                  } %>
                <%= raw[:raw_name] %>
                <%= "(voliteľne)" if raw[:optional] %>
              </label>
            </div>
          <% elsif raw.is_a? Array %>
            <% raw.each.with_index do |r, i| %>
              <% alternative = i > 0 %>
              <% ownership = ownerships.find { |o| o.raw_id == r[:raw_id] } %>

              <div class="<%= 'tw-pt-2' unless alternative %>">
                <div class="<%= 'pl-3' if alternative %>">
                  <label class="tw-my-0">
                    <% if alternative %>
                      <span class="pr-2">alebo</span>
                    <% end %>
                    <%= check_box_tag :raw, '1', ownership && !ownership.need_buy?,
                                      class: "user-raw tw-leading-tight",
                                      id: "id-#{r[:raw_id]}",
                                      data: {
                                          raw_id: r[:raw_id]
                                      } %>
                    <%= r[:raw_name] %>
                    <%= "(voliteľne)" if r[:optional] %>
                  </label>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4 text-center">
  <%= link_to "Pridať všetko na nákupný zoznam",
              add_all_ownerships_path(food_id: @food.id),
              method: :post,
              data: { confirm: "Pridať chýbajúce potraviny pre toto jedlo na nákupný zoznam?" },
              class: "btn btn-outline-dark dark-carrot" %>
</div>


<script type="text/javascript">
  $('.user-raw').change(function() {
    $.ajax({
      url: "/foods/" + "<%= food.id %>" + "/switch_ownership/" + $(this).data("raw-id"),
      dataType: 'script',
      type: "post",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      error: function() {
        location.reload();
        // $("#ownerships-wrapper .container-fluid").append("<div class='tw-text-red-500'>Došlo k chybe pri aktualizácii potravín. Reloadni túto stránku v browseri, prosím.</div>");
      }
    });
  });
</script>
