<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    <%= @heading %>
  </h1>
</div>

<div id="loader" class="bg-light-carrot"></div>
<div id="page-description" class="tw-bg-gray-200 tw-px-2 py-4 text-center">
  <% if user_signed_in? %>
    <div id="available-switch">
      <%= check_box_tag :available, "1", params.dig(:filter, :available) == "true", class: "ios" %>
      <label class="tw-ml-2" for="available">
        Len to, čo mám doma
      </label>
    </div>
  <% end %>
  <div>
    <%= render "foods/displayed_foods_info" %>
    <% if user_signed_in? %>
      <div class="py-1">
        <%= link_to "Pridať návrh", new_proposal_path, class: "btn btn-sm dark-carrot btn-outline-dark" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container-fluid tw-mt-4">
  <% if @foods.any? %>
    <div class="row">
      <% @foods.each do |food| %>
        <%= render "foods/tile", food: food %>
      <% end %>
    </div>
    <div class="text-center py-4">
      <%= render "foods/displayed_foods_info" %>
    </div>
  <% else %>
    <p class="text-center tw-py-8">Nie sú tu žiadne jedlá.</p>
  <% end %>
</div>

<%= render "foods/scripts" %>
