<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    <%= @food.name %>
  </h1>
</div>

<%= content_tag :div, '', class: "cover-food md:tw-bg-fixed", style: "background-image: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);" %>

<div class="container-fluid tw-py-2">
  <div class="row">

    <% @arranged_raws.each do |category, raws| %>

      <div class="col-md-6 col-lg-4 col-xl-3 py-2">
        <p class="tw-text-l text-center dark-carrot tw-border-b tw-border-yellow-800 mb-1">
          <%= category || "Všeobecné potraviny" %>
        </p>

        <div class="tw-text-yellow-800 tw-text-sm">
          <% raws.each do |raw| %>
            <% if raw.is_a? Hash %>
              <div class="tw-pt-2 tw-my-0">
                <%= raw[:raw_name] %>
                <%= "(voliteľne)" if raw[:optional] %>
              </div>
            <% elsif raw.is_a? Array %>
              <% raw.each.with_index do |r, i| %>
                <% alternative = i > 0 %>

                <div class="<%= 'tw-pt-2' unless alternative %>">
                  <div class="<%= 'pl-3 tw-my-0 ' if alternative %>">
                    <% if alternative %>
                      <span class="pr-2">alebo</span>
                    <% end %>
                    <%= r[:raw_name] %>
                    <%= "(voliteľne)" if r[:optional] %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "foods/origin_info", food: @food %>

<% @food.parts.includes(:raws).each do |part| %>
  <div class="tw-bg-gray-200 tw-px-2 text-justify tw-border-t-2 tw-border-white">
    <div class="tw-container tw-mx-auto tw-py-8 text-center">
      <h2 class="tw-text-4xl text-center tw-tracking-wide"><%= "#{part.position}. #{part.name}" %></h2>
      <% if part.ingredients.any? %>
        <p class="tw-text-xs tw-font-light tw-tracking-wider pt-2 tw-border-b-2 tw-border-yellow-800 tw-inline-block">
          <i><%= part.ingredients.map(&:name).join(', ') %></i>
        </p>
      <% end %>
      <p class="tw-pt-6">
        <%= part.description %>
      </p>
    </div>
  </div>
<% end %>
