<%= form_for @proposal do |f| %>

  <div>
    <div class="form-check form-check-inline py-2">
      *
      <span class="px-2">
        <%= f.radio_button :owner_private, @proposal.persisted? ? false : nil, class: "form-check-input", id: "owner-private-false", required: true %>
        <label class="form-check-label" for="owner-private-false">Pre všetkých</label>
      </span>

      <span class="px-2">
        <%= f.radio_button :owner_private, @proposal.persisted? ? true : nil, class: "form-check-input", id: "owner-private-true" %>
        <label class="form-check-label" for="owner-private-true">Iba pre mňa</label>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group mt-0">
        <%= f.label :name, "Názov jedla *" %>
        <%= f.text_field :name, class: "form-control", placeholder: "napr. Kung Pao", autofocus: true %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group mt-0">
        <%= f.label :category, "Kategória" %>
        <%= f.text_field :category, placeholder: "napr. Ázijská kuchyňa", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group mt-0">
        <%= f.label :ingredients, "Potrebné suroviny *" %>
        <%= f.text_area :ingredients, rows: 10, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group mt-0">
        <%= f.label :description, "Popis prípravy *" %>
        <%= f.text_area :description, rows: 10, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions text-center mb-2">
    <%= f.submit "Odoslať", class: "btn btn-outline-dark dark-carrot mt-4" %>
  </div>
<% end %>
