<%= form_for @proposal do |f| %>

  <div>
    <div class="form-check form-check-inline py-2">
      *
      <span class="px-2">
        <%= f.radio_button :owner_private, false, class: "form-check-input", id: "owner-private-false", required: true %>
        <label class="form-check-label" for="owner-private-false">Pre všetkých</label>
      </span>

      <span class="px-2">
        <%= f.radio_button :owner_private, true, class: "form-check-input", id: "owner-private-true" %>
        <label class="form-check-label" for="owner-private-true">Iba pre mňa</label>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group mt-0">
        <%= label_with_error form: f, attr_name: :name, text: "Názov jedla *" %>
        <%= f.text_field :name, class: "form-control", placeholder: "napr. Kung Pao", autofocus: true %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group mt-0">
        <%= f.label :category, "Kategória" %>
        <%= f.text_field :category, placeholder: "napr. Ázijská kuchyňa", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group mt-0">
        <%= label_with_error form: f, attr_name: :ingredients, text: "Potrebné suroviny *" %>
        <%= f.text_area :ingredients, rows: 10, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group mt-0">
        <%= label_with_error form: f, attr_name: :description, text: "Popis prípravy *" %>
        <%= f.text_area :description, rows: 10, class: "form-control" %>
      </div>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-5">-->
<!--      <div class="custom-file">-->
        <%#= f.file_field :photo, accept: 'image/png,image/jpeg' %>
<!--        <br>-->
        <%#= label_with_error form: f, attr_name: :photo, text: "Súbory väčšie ako 4MB nebudú spracované.", css_classes: "tw-text-sm" %>
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-7">-->
      <%# if @proposal.photo_url.present? %>
        <%#= image_tag @proposal.cloud_photo_url, height: 299, class: "tw-rounded-lg md:tw-w-56" %>
        <%#= check_box_tag :remove_photo, '1' %>
        <%#= label_tag :remove_photo, "Odstrániť fotku pri uložení" %>
      <%# end %>
<!--    </div>-->
<!--  </div>-->

  <div class="actions text-center mb-2">
    <%= f.submit "Odoslať", class: "btn btn-outline-dark dark-carrot mt-4" %>
  </div>
<% end %>
