<div class="container-fluid tw-py-2">
  <div class="row">
    <% listed_raw_ids = [] %>
    <% food.ingredients.includes(:raws)
           .order(:category_id)
           .group_by(&:raw_category).each do |category, ingredients| %>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <p class="tw-text-l text-center dark-carrot tw-border-b tw-border-yellow-800 mb-1">
          <%= category&.name || "Všeobecné potraviny" %>
        </p>
        <% ingredients.each do |ingredient| %>
          <% skipped_raw = false %>

          <% ingredient.raws.uniq.each.with_index do |raw, i| %>
            <% if listed_raw_ids.include? raw.id %>
              <% skipped_raw = true %>
              <% next %>
            <% end %>

            <% listed_raw_ids << raw.id %>

            <% alternative = !skipped_raw && i > 0 %>
            <% ownership = ownerships.find { |o| o.raw_id == raw.id } %>

            <div class="<%= 'tw-pt-2' unless alternative %>">
              <div class="<%= 'pl-3' if alternative %>">
                <label class="tw-my-0 tw-text-yellow-800 tw-text-sm">
                  <% if alternative %>
                    <span class="pr-2">alebo</span>
                  <% end %>
                  <%= check_box_tag :raw, '1', ownership && !ownership.need_buy?,
                                    class: "user-raw tw-leading-tight",
                                    id: "id-#{raw.id}",
                                    data: {
                                        raw_id: raw.id
                                    } %>
                  <%= raw.name %>
                </label>
              </div>
            </div>

            <% skipped_raw = false %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.user-raw').change(function() {
    $.ajax({
      url: "/users/foods/" + "<%= food.id %>" + "/switch_ownership/" + $(this).data("raw-id"),
      dataType: 'script',
      type: "post"
    });
  });
</script>
