<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 tw-py-8">
    <%= @heading %>
  </h1>
</div>

<div id="loader" class="bg-light-carrot"></div>
<div id="page-description" class="tw-bg-gray-200 tw-px-2 py-4 text-center">
  <div id="available-switch">
    <%= check_box_tag :available, "1", params.dig(:filter, :available) == "true", class: "ios" %>
    <label class="tw-ml-2" for="available">
      Len to, čo mám doma
    </label>
  </div>
  <p>
    Celkový počet zvolených jedál je <b class="dark-carrot tw-text-lg"><%= @total_count %></b><br>

    <% if @total_count > @limit %>
      Zobrazuje sa náhodných <%= @limit %>.
      <button class="btn btn-light btn-sm btn-outline-dark" id="reload-foods-btn">Zobraziť iné</button>
    <% end %>
    <div>
      <%= link_to "Pridať návrh", new_users_proposal_path, class: "btn btn-sm dark-carrot btn-outline-dark" %>
    </div>
  </p>
</div>

<div class="container-fluid tw-mt-4">
  <% if @foods.any? %>
    <div class="row">
      <% @foods.each do |food| %>
        <%= render "users/foods/tile", food: food %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center tw-py-8">Nie sú tu žiadne jedlá.</p>
  <% end %>
</div>

<%= render "users/foods/scripts" %>
