<div class="container-fluid">
  <h1 class="h1 dark-carrot text-center display-1 py-8">
    <%= @record.name %>
  </h1>
</div>

<%= content_tag :div, '', class: "cover-food md:tw-bg-fixed", style: "background-image: url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);" %>

<div class="container-fluid py-2">
  <div class="row">
    <% @record.raws.uniq.group_by(&:category).each do |category, raws| %>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <p class="tw-text-l text-center dark-carrot tw-border-b tw-border-yellow-800 mb-1">
          <%= category&.name || "Všeobecné suroviny" %>
        </p>
        <% raws.each do |raw| %>
            <span data-raw-<%= raw.id %>>
              <%= render "users/foods/raw_checkbox", raw: raw %>
            </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @record.parts.includes(:raws).each do |part| %>
  <div class="tw-bg-gray-200 tw-px-2 text-justify tw-border-t-2 tw-border-white">
    <div class="tw-container tw-mx-auto tw-py-8 text-center">
      <h2 class="tw-text-4xl text-center tw-tracking-wide"><%= "#{part.position}. #{part.name}" %></h2>
      <% if part.ingredients.any? %>
        <p class="tw-text-xs tw-font-light tw-tracking-wider pt-2 tw-border-b-2 tw-border-yellow-800 tw-inline-block">
          <i><%= part.ingredients.map(&:name).join(', ') %></i>

        </p>
      <% end %>
      <p class="tw-pt-6">
        <%= part.description %>
      </p>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(document).on('turbolinks:load', function() {

    $('.user-raw').change(function() {
      var targetPath = "<%= users_ownership_path %>";
      var method = "delete";

      if (this.checked) {
        targetPath = "<%= users_ownerships_path %>";
        method = "post";
      }

      $.ajax({
        url: targetPath,
        dataType: 'json',
        type: method,
        contentType: 'application/json',
        data: JSON.stringify({ "raw_id": $(this).data("id"), "food_id": "<%= @record.id %>" }),
      });
    });

  });

</script>