<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>DigitalKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fix-wrapper">
      <%= render "administration/shared/navbar" %>
      <%= render "shared/flash_message" unless flash.blank? %>
      <%= yield %>
    </div>
  </body>
</html>
